// Fonts
$fontPrimary: 'Montserrat Alternates', sans-serif;
$fontModal: 'Inter', sans-serif;

//Text colors
$colorTextPrimary: #000000;
$colorTextSecondary: #757577;
$colorTextSuccess: #039900;
$colorTextError: #990000;
$colorTextContrast: #fff;

$colorAccent: #f1f1f1;
