<header class="header">
  <div class="container header__container">
    <a href="#" class="logo">
      <img src="./images/logo.svg" alt="Логотип" />
    </a>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item nav__item--filter">
          <h2>Інтерактив</h2>
          <ul class="nav__filter filter-game">
            <li class="filter-game__item">
              <button class="filter-game__button" data-category="numerical">
                Числовий
              </button>
            </li>
            <li class="filter-game__item">
              <button class="filter-game__button" data-category="game">
                Ігровий
              </button>
            </li>
            <li class="filter-game__item">
              <button class="filter-game__button" data-category="acquaintance">
                Ознайомчий
              </button>
            </li>
          </ul>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Наша команда</a>
        </li>
        <li class="nav__item"><a class="nav__link" href="#">Контакти</a></li>
      </ul>
    </nav>
    <div class="header__actions">
      <div class="switch">
        <input class="switch__button" type="checkbox" id="switch" />
        <label for="switch" class="visually-hidden"
          >Світла тема/Темна тема</label
        >
      </div>
      <p class="header__greeting">
        Вітаємо, <span class="header__user">User</span>!
      </p>
    </div>
  </div>
</header>
